body #root{
  background-color: #fdf8f2;
}

#root {
  height: 100vh;
  /* overflow: hidden; */
}

#button-custom {
    background-color: #ffa380;
    border-color: #fdf8f2;
    color: #fdf8f2;
    margin-bottom: auto;
    display: inline-block;

    
    
    
    
}

#button-custom:hover {
  background-color: #ca7756;
}

