body #root{
  background-color: #fdf8f2;
  
}
.navbar {
  z-index: 100;
}
.navbar a {
  font-weight: 700;
}

.admin-title{
  color: white;
  text-align: center;
  font-weight: 400;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 5px;
  font-size: 30px;
  border-width:1px;
  border-style: solid;
  border-color:coral;
  border-radius: 15px;
  background-color: coral;
}

.card-new{
  font-weight: 600;
 }


 .h3 {

   font-weight: 800;
    border-width: 1px;
  }



#root {
  min-height: 100vh;
  height: 100%;
  
}

#button-custom {
    background-color: coral;
    border-color: #fdf8f2;
    color: #fdf8f2;
    margin-bottom: auto;
    display: inline-block;
    
   
}

#button-custom:hover {
  background-color: #ffa380;
}

