*  {
    margin: 0;
    padding: 0;
}

body {
    
    font-family: serif;
    
}

.hero {
    
    height: 100vh;
    background-image: url("../../../assets/pexels-larissa-deruzzi-6546181.jpg");
    background-size: cover;
<<<<<<< HEAD
    background-position-y: 60%;
    background-position-x: 0vw;
    background-repeat: no-repeat;
    color: coral;
=======
>>>>>>> 871afe5925acd4e47123d3157e37ad3cb936a572
}

.hero h1 {
    font-weight: 500;
    font-size: 8em;
    padding: 35px;
    letter-spacing: -2px;
    color: #104d4c;
}
    
    
  

.hero h2 {
    font-weight: 400;
    color: blue;
    font-size: 4em;
    
}

.fl-container {
    display:flex;
    flex-wrap:wrap
}   


.fl-justifyh {
    justify-content: space-between;

}

.fl-centerv {
    align-items: center;
}
